{
	"idEmpresaDBNet": "808000407",
	"UserEmpresaDBNet": "808000407",
	"AutorizacionEmpresaDBNet": "ODA4MDAwNDA3MTIzNDU2",
	"URLWSDBNet": "https://fe-cert.co.dbnetcorp.com/dbngw",
	"idArea_InfoProc": "BOGT",
	"signDoc_InfoProc": "SI",
	"asgCorr_InfoProc": "NO",
	"genXml_InfoProc": "SI",
	"saveDoc_InfoProc": "SI",
	"TipoDireccion": "DISU",
	"IdDUNS": "11001",
	"ApartadoPostal": "951951",
	"Direccion": "KM 5 VIA GIRARDOT MELGAR - RICAURTE",
	"Area": "RICAURTE",
	"Ciudad": "RICAURTE",
	"Departamento": "CUNDINAMARCA",
	"CodigoDepartamento": "25",
	"CodigoPais": "CO",
	"NombrePais": "Colombia",
	"TipoContacto": "CEMI",
	"NombreContacto": "XXXX",
	"TelefonoContacto": "8390030 EXT 210",
	"MailContacto": "facturacion@clubpuertopenalisa.com",
	"DescripcionContacto": "xxxxxx",
	"Server_BBDD": "PRUEBAS",
	"Nombre_BBDD": "SIIMED0162020",
	"NombreVistaFAC": "VISTAFFUN",
	"NombreVistaNotas": "VISTA_CDFUN",
	"Seguridad_Integrada_BBDD": false,
	"Usuario_BBDD": "siimed",
	"Password_BBDD": "abcd1234!",
	"IntervaloTimerConector": 1,
	"GenerarJsonDocumentosConector": true,
	"RutaGuardadoRespuestasFAC": "C:\\Users\\Administrador\\Documents\\ConectorFE_FunClubPena\\Respuestas_FAC\\",
	"RutaGuardadoRespuestasNotas": "C:\\Users\\Administrador\\Documents\\ConectorFE_FunClubPena\\Respuestas_Notas\\",
	"RutaGuardadoJsonDocumentosFACConector": "C:\\Users\\Administrador\\Documents\\ConectorFE_FunClubPena\\Facturas_Generadas\\",
	"RutaGuardadoJsonDocumentosNOTASConector": "C:\\Users\\Administrador\\Documents\\ConectorFE_FunClubPena\\Notas_Generadas\\"
}